@media screen and (min-width: 1441px) {
  .wrapper {
    max-width: 1930px;
  }

  .main .main-content {
    background: url(../images/header-bg@wide.jpg);
    background-position: center;
    padding-top: 11%;
    height: 800px;
  }
  .main .main-content .bottom-content .scroll-btn {
    margin: 130px 0;
  }
  .main .about-us, .main .reserve, .main .contacts {
    max-width: 1440px;
    margin: 0 auto;
  }
  .main .team, .main .dishes, .main .personal-events {
    padding-left: 10%;
    padding-right: 10%;
  }
  .main .team {
    background: url(../images/team-bg@wide.jpg) no-repeat;
  }
  .main .dishes {
    background: url(../images/dishes-bg@wide.jpg);
  }
  .main .personal-events {
    background: url(../images/dishes-bg@wide.jpg);
  }
}