@media (min-width: 900px) {
    .wrapper {
        max-width: 1440px;
    }
    .header {
        height: 80px;
        width: 100%;
        max-width: 1920px;
        &.dark {
            .logo {
                margin-top: 5px;
                height: 50px;
            }
        }
        .logo {
            margin: 15px auto;
            width: 150px;
            height: 150px;
            transition: .3s all;
        }
        .burger-button {
            position: absolute;
            width: 1px;
            height: 1px;
            clip: rect(0 0 0 0);
            display: none;
        }
        .menu {
            height: 70px;
            background: rgba(255, 255, 255, 0);
            justify-content: space-between;
            align-items: center;
            padding: 0 10%;
            overflow: hidden;
            &.hidden {
                top: 0;
            }
            .menu-links {
                z-index: 999;
                width: 37%;
                justify-content: space-between;
                flex-direction: row;
                    &.top-menu {
                        margin-top: 0;
                    }
                    li {
                        border: none;
                        transition: .3s all;
                        &:last-child {
                            background-color: rgba(255, 255, 255, 0);
                        }
                        .link {
                            padding: 10px;
                            width: 100%;
                        }
                    }
            }
        }
    }
    .main {
        .main-content {
            background: url(../images/header-bg@2x.jpg) no-repeat;
            background-position: center;
            .subtitle {
                letter-spacing: 0.5em;
            }
            .title {
                font-size: 96px;
            }
            .navigation {
                flex-direction: row;
                justify-content: center;
                .link:last-child {
                    margin: 0 0 0 40px;
                }
            }
            .bottom-content {
                max-height: 250px;
                .schedule {
                    top: 0;
                }
                .scroll-btn {
                    margin: 117px 0;
                }
                .social-links {
                    top: -200px;
                }
            }
        }
        .about-us, .team, .reserve, .dishes, .events {
            .img {
                max-width: 41.661%;
            }
        }
        .about-us {
            flex-direction: row;
            flex-wrap: wrap;
            padding: 100px 80px;
            justify-content: space-between;
                .text-wrapper {
                    max-width: 41.7%;
                }
        }
        .team {
            background: url(../images/team-bg@2x.jpg) no-repeat;
            flex-direction: row-reverse;
            flex-wrap: wrap;
            padding: 50px 80px;
            justify-content: space-between;
            .subtitle {
                width: 100%;
                margin-bottom: 50px;
            }
            .text-wrapper {
                max-width: 41.7%;
            }
        }
        .reserve {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            padding: 100px 80px 40px 9.375%;
            .form-wrapper {
                max-width: 39.3%;
            }
        }
        .dishes {
            background: url(../images/dishes-bg@2x.jpg);
            padding: 20px 80px;
            .subtitle {
                margin-bottom: 50px;
            }
            .dish {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .text-wrapper {
                    max-width: 38.957%;
                }
            }
        }
        .personal-events {
            background: url(../images/dishes-bg@2x.jpg);
            padding: 50px 5.556% 30px 5.556%;
            .title {
                margin: 0 0 40px 0;
                width: 100%;
            }
            .events {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;
                    .event {
                        max-width: 41.667%;
                        &:nth-child(even) {
                            margin-top: 0;
                        }
                        .text {
                            width: 456px;
                        }
                    }
            }
            .note {
                margin: 40px 0 0 0;
            }
        }
        .contacts {
            padding: 100px 80px;
            .form {
                margin-top: 50px;
                .form-item {
                    width: 49.5%;
                    &.last {
                        width: 100%;
                    }
                }
                .button {
                    width: 49.5%;
                    order: 2;
                }
                .note {
                    margin: 0;
                    .link:not(:first-child) {
                        margin-left: 50px;
                    }
                }
                
            }
        }
    }
}