@import "variables";

* {
    box-sizing: border-box;
    // border: 1px solid red!important;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans',
    sans-serif;
        ul {
            padding: 0;
            margin: 0;
            li {
                list-style: none;
            }
        }
        a {
            text-decoration: none;
        }
        input, select, button {
            border: none;
        }
}
.lock-scroll {
    overflow: hidden;
}
.wrapper {
    max-width: 100%;
    margin: 0 auto;
}
.header {
    position: fixed;
    width: 100%;
    height: 70px;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    padding: 10px 15px 10px 15px;
    transition: .3s all;
    &.scroll {
        background-color: #000;
    }
    .logo {
        width: 50px;
        height: 50px;
        z-index: 999;
    }
    .burger-button {
        width: 50px;
        height: 50px;
        padding: 0;
        border: none;
        position: relative;
        transition: .3s all;
        background: rgba(255, 255, 255, 0);
        z-index: 999;
        &:focus {
            outline: none;
            border: 1px solid rgb(255, 208, 0);
        }

        .line {
            border: none;
            display: block;
            width: 100%;
            height: 7px;
            background: #FFD600;
            border-radius: 3px;
            position: absolute;
            transition: .3s all;

            &:nth-child(1) {
                top: 6px;
            }

            &:nth-child(2) {
                top: 21px;
            }

            &:nth-child(3) {
                bottom: 6px;
            }
        }

        &.opened {
            .line:nth-child(1) {
                top: 20px;
                transform: rotate(45deg);
            }

            .line:nth-child(2) {
                opacity: 0;
            }

            .line:nth-child(3) {
                top: 20px;
                transform: rotate(-45deg);
            }
        }

    }
    .menu {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: flex-end;
        justify-content: space-around;
        flex-wrap: wrap;
        position: absolute;
        left: 0;
        top: 0;
        padding-bottom: 100px;
        z-index: 99;
        background: #B71C1C;
        transition: .3s all;
        overflow-y: auto;
        &.hidden {
            top: -100vh;
        }
        .menu-links {
            width: 300px;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            z-index: 999;
            &.top-menu {
                margin-top: 15%;
                li:last-child {
                    background-color: rgba(255, 255, 255, 0);
                }
            }
            li {
                margin-top: 20px;
                border-radius: 5px;
                border: 1px solid rgba(255, 255, 255, 0.5);
                &:last-child {
                    background-color: $yellow;
                }
                &:hover {
                    background-color: $yellow!important;
                }
                .link {
                    width: 175px;
                    padding: 15px 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $title;
                    font-weight: bold;
                    font-size: 12px;
                    line-height: 20px;
                }
            }
        }
    }
}
.main {
    .main-content {
        background: url(../images/header-bg@1x.jpg) no-repeat;
        background-size: 100% 100%;
        position: relative;
        padding: 20% 15px 0 15px;
        display: flex;
        flex-wrap: wrap;
        align-items: space-between;
        justify-content: space-between;

        .subtitle {
            width: 100%;
            font-weight: bold;
            font-size: 12px;
            line-height: 14px;
            color: $title;
            text-align: center;
        }

        .title {
            margin: 0;
            width: 100%;
            text-align: center;
            font-family: Caveat;
            font-weight: bold;
            font-size: 52px;
            line-height: 70px;
            color: $title;
        }

        .navigation {
            width: 100%;
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .link {
                width: 175px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: bold;
                font-size: 12px;
                line-height: 20px;
                color: $title;
                border-radius: 5px;
                border: 1px solid rgba(255, 255, 255, 0.5);

                &:last-child {
                    margin-top: 30px;
                    background: $yellow;
                    border: none;
                }
            }
        }

        .bottom-content {
            width: 100%;
            display: flex;
            justify-content: center;
            position: relative;
            .schedule {
                position: absolute;
                top: 170px;
                left: 23px;
                min-width: 240px;
                text-align: center;
                height: 25px;
                transform: rotate(-90deg);
                transform-origin: bottom left;
                font-weight: bold;
                font-size: 12px;
                line-height: 12px;
                color: $title;
            }
            .scroll-btn {
                margin: 130px 0;
                max-height: 60px;
            }

            .social-links {
                position: absolute;
                right: 0;
                display: flex;
                flex-direction: column;

                .link:not(:first-child) {
                    margin-top: 15px;
                }
            }
        }
    }
    .about-us {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        .text-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 384px;
            .title {
                font-family: Caveat;
                font-weight: bold;
                font-size: 42px;
                line-height: 48px;
                color: #000;
            }

            .line {
                width: 40px;
                height: 5px;
                background: #E8C300;
                border-radius: 50px;
            }
            .text {
                font-family: Open Sans;
                font-style: italic;
                font-weight: 600;
                font-size: 18px;
                line-height: 27px;
                padding: 0 15px;
            }
        }
        .img {
            max-width: 100%;
            img {
                max-width: 100%;
            }
        }
    }
    .team {
        background: url(../images/team-bg@1x.jpg);
        color: $title;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 45px 15px 0px 15px;
        .subtitle {
            margin-bottom: 10px;
            font-weight: bold;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.5em;
        }
        .text-wrapper {
            max-width: 300px;
            .title {
                font-family: Caveat;
                font-style: normal;
                font-weight: bold;
                font-size: 36px;
                line-height: 48px;
                margin: 0;
            }

            .text {
                font-style: italic;
                font-weight: 600;
                font-size: 18px;
                line-height: 28px;
            }
        }
        .img {
            max-width: 100%;

            img {
                max-width: 100%;
            }
        }
    }
    .reserve {
        padding: 55px 15px;
        .form-wrapper {
            .title {
                margin: 0;
                font-family: Caveat;
                font-style: normal;
                font-weight: bold;
                font-size: 36px;
                line-height: 48px;
                text-transform: uppercase;
                text-align: center;
            }

            .line {
                margin: 15px auto;
                background: #E8C300;
                width: 40px;
                height: 5px;
                border-radius: 5px;
            }

            .form {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                .form-item {
                    width: 100%;
                    height: 60px;
                    margin-bottom: 10px;
                    position: relative;

                    .label {
                        font-size: 14px;
                        line-height: 19px;
                        color: rgba(51, 51, 51, 0.5);
                        position: absolute;
                        left: 15px;
                        top: 18px;
                    }

                    .input,
                    .select {
                        width: 100%;
                        height: 100%;
                        border-radius: 5px;
                        background: #E5E5E5;
                        font-size: 20px;
                    }

                    .select {
                        font-size: 14px;
                        line-height: 19px;
                        color: rgba(51, 51, 51, 0.5);
                        position: absolute;
                        padding-left: 15px;
                        background-image: url(../images/select-line.svg);
                        background-position: calc(100% - 10px) calc(100% - 22.5px);
                        background-repeat: no-repeat;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                    }
                }

                .select-item {
                    width: 49%;
                }

                .button {
                    width: 100%;
                    height: 60px;
                    background: #E8C300;
                    border-radius: 5px;
                    color: #fff;
                    font-weight: bold;
                    font-size: 12px;
                    line-height: 20px;
                }
            }
        }
        .img {
            img {
                max-width: 98%;
            }
        }
        .note {
            color: rgba(51, 51, 51, 0.5);
            font-size: 12px;
            line-height: 12px;
            width: 100%;
            text-align: center;
            margin-top: 40px;
        }
    }
    .dishes {
        background: url(../images/dishes-bg@1x.jpg);
        text-align: center;
        padding: 15px 24px;
        .subtitle {
            font-weight: bold;
            font-size: 12px;
            line-height: 14px;
            color: #fff;
            letter-spacing: 0.5em;
        }
        .dish {
            .img {
                max-width: 100%;

                img {
                    max-width: 100%;
                }
            }
            .text-wrapper {
                .title {
                    text-transform: uppercase;
                    font-family: Caveat;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 36px;
                    line-height: 48px;
                    color: #fff;
                    margin: 0;
                }

                .line {
                    margin: 15px auto;
                    background: #E8C300;
                    width: 40px;
                    height: 5px;
                    border-radius: 5px;
                }

                .text {
                    font-size: 18px;
                    line-height: 28px;
                    color: rgba(255, 255, 255, 0.9);
                }
            }
        }
        .slider-pagination {
            margin: 40px 0 20px 0;
            display: flex;
            justify-content: center;
            .round {
                width: 10px;
                height: 10px;
                background: rgba(255, 255, 255, 0.5);
                border-radius: 10px;
                &:not(:first-child):not(:last-child) {
                    margin: 0 20px;
                }
                &.active {
                    background-color: #fff;
                }
            }
        }
    }
    .personal-events {
        background: url(../images/events-bg@1x.jpg);  
        padding: 25px 15px;
        .title {
            margin: 70px 0;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 14px;
            text-align: center;
            letter-spacing: 0.5em;
            text-transform: uppercase;
            color: #fff;
        }
        .event {
            position: relative;
            .img {
                img {
                    max-width: 100%;
                }
            }
            .text {
                position: absolute;
                top: 0px;
                right: -2px;
                transform: rotate(-90deg) translate(0, -100%);
                transform-origin: 100% 0;
                display: flex;
                align-items: center;
                width: 79.2%;
                height: 50px;
                background: #000;
                text-indent: 20px;
                text-transform: uppercase;
                font-family: Caveat;
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                color: #fff;
            }
            &:nth-child(even) {
                margin-top: 85px;
                .text {
                    top: auto;
                    bottom: -44.5px;
                    left: 50px;
                    transform-origin: top left;
                }
            }
        }
        .note {
            color: rgba(255, 255, 255, 0.5);
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 21px;
            width: 97%;
            margin: 50px auto 0 auto;
            text-align: center;
        }
    }
    .contacts {
        padding: 50px 15px;
        .title {
            margin: 0;
            font-family: Caveat;
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            line-height: 48px;
            text-transform: uppercase;
            text-align: center;
        }

        .line {
            margin: 15px auto;
            background: #E8C300;
            width: 40px;
            height: 5px;
            border-radius: 5px;
        }

        .form {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .form-item {
                width: 100%;
                margin-bottom: 10px;
                position: relative;
                &.last {
                    .input {
                        height: 120px;
                    }
                }

                .label {
                    font-size: 14px;
                    line-height: 19px;
                    color: rgba(51, 51, 51, 0.5);
                    position: absolute;
                    left: 15px;
                    top: 18px;
                    transition: .3s all;
                }
                .input:focus ~ .label {
                    opacity: 0;
                }
                .input {
                    width: 100%;
                    height: 60px;
                    border-radius: 5px;
                    background: #E5E5E5;
                    font-size: 20px;
                    padding-left: 15px;
                }
                input:focus label::-webkit-input-placeholder {
                    opacity: 0;
                }
            }
            .button {
                width: 100%;
                height: 60px;
                background: #E8C300;
                border-radius: 5px;
                color: #fff;
                font-weight: bold;
                font-size: 12px;
                line-height: 20px;
            }
            .note {
                margin-top: 30px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                .link {
                    color: rgba(51, 51, 51, 0.5);
                    font-weight: bold;
                    font-size: 12px;
                    line-height: 30px;
                    display: flex;
                    align-items: center;

                    .icon {
                        margin-right: 5px;
                        width: 12px;
                    }
                }
            }
        }
    }
    .map{
        .img {
            width: 100%;
            img {
                width: 100%;
            }
        }
    }
}
.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background: rgba(0, 0, 0, 0.9);
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    .link {
        color: rgba(255, 255, 255, 0.5);
    }
}




